@import 'tailwindcss';

:root {
  --paguro-ocean: #5BC2D9;
  --paguro-deep: #45736E;
  --paguro-sand: #D5D9B8;
  --paguro-sunset: #F2A341;
  --paguro-coral: #F26938;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  overflow-x: hidden;
}